{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 120,
  "endOfLine": "lf",
  "singleQuote": true,
  "semi": false,
  "useTabs": false,
  "trailingComma": "es5",
  "importOrder": ["^@core/(.*)$", "^[./]"],
  "importOrderSeparation": true
}
